<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leapfrog.inventorymanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MisumiApplication"
        android:allowBackup="true"
        android:icon="@drawable/luncher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dashboard.DashBoardActivity">

            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".itemdetail.ItemDetailActivity" />
        <activity android:name=".cart.CartActivity" />
        <activity android:name=".favorites.FavoritesActivity" />
        <activity android:name=".settings.SettingsActivity" />
        <activity android:name=".payment.PaymentActivity" />
    </application>

</manifest>
